/*
 * LVL99 Image Import
 */
/*
 * LVL99 Plugin base styles
 */
.lvl99-plugin-page {
  padding: 1em 3em 3em;
  background: #fff;
  border: solid 1px #ccc;
  border-top: 0;
  position: relative;
}
.lvl99-plugin-intro {
  padding-bottom: 1em;
  margin: 1em 0 1em;
  border-bottom: solid 1px #e5e5e5;
  font-size: 1.2em;
  line-height: 1.4em;
}
.lvl99-plugin-intro p {
  font-size: 1.1em;
  line-height: 1.4em;
}
.lvl99-plugin-section {
  margin: 3em 0;
}
.list-text {
  display: block;
  list-style: disc;
  margin-left: 2em;
}
.list-text li {
  list-style: disc;
}
.lvl99-plugin-option {
  padding-bottom: 1em;
}
.lvl99-plugin-option-label {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}
.lvl99-plugin-notice > :first-child,
.lvl99-plugin-option-help > :first-child {
  margin-top: 0;
}
.lvl99-plugin-notice > :last-child,
.lvl99-plugin-option-help > :last-child {
  margin-bottom: 0;
}
.lvl99-plugin-notice .small,
.lvl99-plugin-option-help .small {
  color: #999;
  font-size: 0.9em;
}
.lvl99-plugin-notice .large,
.lvl99-plugin-option-help .large {
  font-size: 1.2em;
}
.lvl99-plugin-notice {
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  border: solid 1px #ccc;
  background: #eee;
  color: #000;
}
.lvl99-plugin-notice-warning {
  border: solid 1px #c00;
  color: #c00;
  background-color: #fcc;
}
.lvl99-plugin-option {
  margin-bottom: 1em;
}
.lvl99-plugin-option-help {
  margin-bottom: 1em;
}
.lvl99-plugin-option-help-after {
  color: #999;
  margin-top: 1em;
  margin-bottom: 0;
}
.lvl99-plugin-option-value {
  display: block;
}
.lvl99-plugin-option-value-label {
  display: inline-block;
  vertical-align: top;
}
.lvl99-plugin-option-value-description {
  color: #999;
  font-size: 0.9em;
}
.lvl99-plugin-option-group {
  margin-bottom: 2em;
}
.lvl99-plugin-option-group > .lvl99-plugin-option {
  padding-left: 2em;
  border-left: solid 3px #eee;
}
.lvl99-sortable-handle {
  font-family: 'FontAwesome';
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
.lvl99-image-import-filter-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.lvl99-image-import-filter-item:before,
.lvl99-image-import-filter-item:after {
  content: ' ';
  display: table;
}
.lvl99-image-import-filter-item:after {
  clear: both;
}
.lvl99-image-import-filter-method,
.lvl99-image-import-filter-input,
.lvl99-image-import-filter-output,
.lvl99-image-import-filter-controls {
  float: left;
  line-height: 2em;
  vertical-align: middle;
  margin-right: 10px;
}
.lvl99-image-import-filter-input input[type=text],
.lvl99-image-import-filter-output input[type=text] {
  width: 100%;
  min-width: 200px;
  box-sizing: border-box;
  padding: 0.3em;
}
.lvl99-image-import-posttypes-list {
  margin-left: 2em;
  margin-top: 1em;
}
.lvl99-image-import-table {
  margin-bottom: 1em;
}
.lvl99-image-import-table .lvl99-image-import-col-do,
.lvl99-image-import-table .lvl99-image-import-col-src,
.lvl99-image-import-table .lvl99-image-import-col-as {
  box-sizing: border-box;
}
.lvl99-image-import-table .lvl99-image-import-col-do {
  width: 2%;
  text-align: center;
}
.lvl99-image-import-table .lvl99-image-import-col-src,
.lvl99-image-import-table .lvl99-image-import-col-as {
  width: 49%;
  overflow: hidden;
  text-align: left;
}
.lvl99-image-import-table .lvl99-image-import-col-src {
  position: relative;
}
.lvl99-image-import-table .lvl99-image-import-col-src a {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 3.3em;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}
.lvl99-image-import-table .lvl99-image-import-col-src input[type=text],
.lvl99-image-import-table .lvl99-image-import-col-as input[type=text] {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
.lvl99-image-import-config {
  margin-bottom: 1em;
}
.lvl99-image-import-filter-applied-include:before,
.lvl99-image-import-filter-applied-exclude:before,
.lvl99-image-import-filter-applied-replace:before {
  display: inline-block;
  width: 3em;
  height: 1em;
  text-align: center;
  font-weight: bold;
}
.lvl99-image-import-filter-applied-include:before {
  content: '&';
  color: green;
}
.lvl99-image-import-filter-applied-exclude:before {
  content: 'x';
  color: red;
}
.lvl99-image-import-filter-applied-replace:before {
  content: '?=';
  color: blue;
}
.lvl99-image-import-submitted {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}
.lvl99-image-import-submitted > .lvl99-plugin-notices {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3em;
}
.lvl99-image-import-submitted > .lvl99-plugin-notices > .lvl99-plugin-notice {
  margin-top: 1em;
  margin-bottom: 0;
}
.lvl99-image-import-actions-list {
  display: block;
  list-style: none;
}
.lvl99-image-import-actions-list > li {
  padding: 1em;
  background: #fafafa;
  margin-bottom: 2em;
}
.lvl99-image-import-actions-list dl {
  overflow: hidden;
  clear: both;
}
.lvl99-image-import-actions-list dt {
  float: left;
  width: 19%;
  margin-right: 1%;
  clear: left;
  text-align: right;
}
.lvl99-image-import-actions-list dd {
  float: left;
  width: 79%;
  margin-left: 1%;
  clear: right;
}
.lvl99-image-import-actions-list.lvl99-image-import-errored-list > li {
  background-color: #fdd;
}
.lvl99-image-import-actions-list.lvl99-image-import-errored-list code {
  color: #900;
  background-color: rgba(204, 0, 0, 0.3);
}
.lvl99-image-import-submitted {
  text-align: center;
}
.lvl99-image-import-progress {
  width: 100%;
  height: 1em;
  background-color: #ccc;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  -webkit-animation: progresspulse 2s linear 0s infinite;
          animation: progresspulse 2s linear 0s infinite;
}
.lvl99-image-import-progress-log {
  background: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 2em;
  height: 300px;
  overflow: scroll;
  text-align: left;
}
.lvl99-image-import-progress-bar {
  width: 0%;
  height: 1em;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: width 0.2s;
          transition: width 0.2s;
}
@-webkit-keyframes progresspulse {
  0% {
    background-color: #ccc;
  }
  50% {
    background-color: #999;
  }
  100% {
    background-color: #ccc;
  }
}
@keyframes progresspulse {
  0% {
    background-color: #ccc;
  }
  50% {
    background-color: #999;
  }
  100% {
    background-color: #ccc;
  }
}
